.head
{
    text-align: center;
}

.container
{
    height: 100%;
    width: 100%;
    display: flex;
}

.pass{
    width: 40%;
    color:rgb(2, 225, 46);
}
.cpass
{
    color:rgb(2, 225, 46);

}
.first
{
    width: 40%;
    color:rgb(2, 225, 46);
}
.last
{
    color:rgb(2, 225, 46);
}
.email
{
    color:rgb(2, 225, 46);

}

.gender
{
    color:rgb(2, 225, 46);
    width: 40%;
}

.hobbies
{
    color:rgb(2, 225, 46);
    
}

.radio-btn
{
    width: 40%;
}
.income
{
    color:rgb(2, 225, 46);
    width: 40%;
}
.salary
{
    color:rgb(2, 225, 46);
    
}
.no
{
    width: 40%;
}

.bio
{
    color:rgb(2, 225, 46);
    
}

.create
{
    width: 75%;
}

.btn-create
{
    color: white;
    background-color: green;
    margin-left: 650px;
    width: 10%;
    height: 50%;
    font-size: 20px;
    border-radius: 10px;
}